.product-recommendations {
    margin: 80px 0;
}

.product-recommendations__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.product-recommendations .title {
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 45px;
}

.product-recommendations__item img {
    width: 350px;
}
.product-recommendations__list .product {
    width: 250px;
}